body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    min-height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    color: #1f1f1f;
    background: #fff;
}

h1,h2,h3,h4 {
    font-weight: 400;
}

.container,
.container * {
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 600px; 
    padding: 1rem 2rem;   
}

.airport-info {
    display: inline-block;
    padding: 1rem;
    background: #efefef;
}

.airport-info-title {
    margin: 0 0 0.75rem;
}

.form {
    width: 100%;
    margin: 2rem 0;
}

.form-field {
    display: block;
    width: 100%;
}

.form-field:not(:first-child) {
    margin-top: 1rem;
}

.form-label {
    display: block;
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
}

.form-input {
    width: 100%;
    height: 2.5rem;
    padding: 0 1rem;
    border-radius: 0.125rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
}

.form-input-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    background-repeat: no-repeat;
    background-position: right 0.5rem center;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAFCAMAAACgjTZZAAAAElBMVEUAAAAVIUIVIUIVIUIVIUIVIULDisgGAAAABnRSTlMA//P+/fcNgN/BAAAAHUlEQVR4AWNghAImBiiTmYEBwmRhAAOQCBSwgggABEkAJnCqeVQAAAAASUVORK5CYII=");  
}

