body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #373737;
}

/* bootstrap customization */
.bg-light {
    background-color: #E0E0E0 !important;
}

/* typography */
h1, h2, h3, h4, h5 {
    font-weight: 600;
}

h1 {
    margin: 2rem 0 1.75rem;
}

.font-serif {
    font-family: 'Noto Serif TC', serif;
}

.font-serif-2 {
    font-family: 'Baskervville', serif;
}

/* common components */
.btn {
    transition: all 0.1s linear;
}

.btn-green {
    background-color: #009900;
    color: #FFF;
}

.btn-green:hover {
    background-color: #388E3C;
    color: #FFF;
}

.btn-green.focus, .btn-green:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 153, 0, .25);
}

.logo {
    height: 4.5rem;
    border-radius: 0.125rem;
    margin-right: 0.75rem;
}

/* tutorial elements */
.alphabet {
    width: 100%;
    max-width: 420px;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    border: 1px solid #373737;
    color: #373737;
    background-color: #C8E6C9;
}

.alphabet td:not(.empty) {
    cursor: pointer;
}

.alphabet td:not(.empty):hover {
    background-color: #A5D6A7;
}