.content
    display flex
    &_leftcol
        width 15%
        color #000
        padding 1rem
    &_main
        width 85%
        padding 1rem 2rem
    & code
        background-color #efefef
        
.tutorial
    list-style none
    padding 0
    margin 0.5rem 0
    &_firstlevelitem
        cursor pointer
        padding 0.25rem 1rem
        &:hover:not(^[0]_title)
            font-weight 500
            background-color #efefef
    &_title
        margin-bottom 0.5rem
        font-weight 700
        padding 0.25rem 1rem 0.25rem 0.5rem
    &_example
        margin 1rem 0
        
.code-example
    background-color #efefef
    max-width 600px
    padding 0.5rem
    
.tabs
    &-example
        display flex
        &-content
            width 480px
    & .tab
        display flex
        justify-content center
        align-items center
        width 120px
        height 30px
        cursor pointer
        font-weight 600
        border-bottom 1px solid #000
        &.active
            border 1px solid #000
            border-bottom none
            border-top-left-radius 8px
            border-top-right-radius 8px
        &-content
            display none
            &.active
                display block