body {
    margin: 0;
    padding: 0;
    max-width: 100vw;
    background: #1f1f1f;
    color: #fff;
}

body * {
    box-sizing: border-box;
}

canvas {
    max-width: 100%;
}

#info {
    position: absolute;
    top: 0;
    left: 0;
    padding: 16px;
    text-align: center;
    width: 100%;
}